.SearchBox{
    width: 60%;
    /* background-color: blue; */
    margin: 0 auto;
    
}

.SearchBox .form {
    display: flex;
    flex-direction: row;
    gap: 4px
}


.SearchBox .form input {
    position: relative;
    width: 100%;
    border: 2px var(--color-2-blue) solid;
    outline: none;
    padding: 14px;
    border-radius: 8px;
    color: var(--color-2-blue);
    font-weight: 500;
    height: 38px;
}

.SearchBox .form button {
    margin: 0 auto;
    border-radius: 8px;
    padding: 10px 16px;
    background: var(--color-1-navy);
    color: white;
    font-size: 1em;
    letter-spacing: 0.05em;
    cursor: pointer;
    
}

button:active {
    opacity: 0.6;
}


.SearchBox .form .button-1 {
    background: transparent;
    border: 2px var(--color-6-copper) solid;
    color: var(--color-6-copper);
}
