.buttonRow {
    /* background-color: aquamarine; */
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    gap: 4px;

}

.buttonRow span {
    font-size: small;
    text-align: center;
}