/* Variation: 1. Login Form, 2. Register Form, 3. Admin Login Form */

.inquiry-form-container {
    background-color: aquamarine;
}
.StudentRegisterForm,
.AdminLoginForm,
.StudentLoginForm,
.StudentRegisterForm,
.NewCourseForm  {
    width: 400px;
    margin: 64px auto;
    border: 4px var(--color-4-orange) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;

}

.AdminLoginForm {
    border: 4px grey solid;
}

.StudentLoginForm {
    border: 4px var(--color-3-pale) solid;
}

.NewCourseForm {
    border: 4px var(--color-6-copper) solid;
}



.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    /* background-color: beige;  */

}

.content h2 {

    font-size: 2em;
    /* background-color: #aaa; */
    color: var(--color-2-blue);
    font-family: var(--font-roboto);
    width: 100%;
    text-align: left;
}

.content .messageBox {
    
    border-radius: 6px;
    padding: 16px 8px;
    width: 100%;
    font-size: small;
}

.content .form {

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.content .form .inputBox {
    position: relative;
    width: 100%;
}

.content .form .inputBox input,.content .form .inputBox select  {
    position: relative;
    width: 100%;
    border: 2px var(--color-2-blue) solid;
    outline: none;
    padding: 25px 10px 7.5px;
    border-radius: 8px;
    color: var(--color-2-blue);
    font-weight: 500;
    font-size: 1em;
}

.content .form .inputBox i {
    position: absolute;
    left: 0;
    padding: 15px 10px;
    font-style: normal;
    /* color: red; */
    transition: 0.5s;
    pointer-events: none;
}

.content .form .inputBox input:focus~i, .content .form .inputBox select:focus~i {
    transform: translateY(-7.5px);
    font-size: 0.8em;
}

.content .form .links {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content .form .links a {
    color: var(--color-4-orange);
    text-decoration: none;
}

.content .form .links a:nth-child(2) {
    color: var(--color-4-orange);
    font-weight: 600;
}

.content .form .inputBox button {
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    padding: 10px;
    background: var(--color-4-orange);
    color: white;
    font-family: var(--font-roboto);
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
}

button:active {
    opacity: 0.6;
}

/* Buttons Background-color match border color*/
.AdminLoginForm .content .form .inputBox button {
    background-color: dimgray;
}

.StudentLoginForm .content .form .inputBox button {
    background-color: var(--color-2-blue);
}

.NewCourseForm {
    width: 600px;
    /* padding: 0; */
    /* align-items: center; */
    background-color: antiquewhite;
    margin: 12px auto;
    padding: 0;

}

.NewCourseForm .content {
    width: 80%;
}

.NewCourseForm .content .form .inputBox button {
    background-color: var(--color-6-copper);
}
.content .success {
    color: darkgreen;
    background-color:lightgreen;
    border: 2px darkgreen solid;
}

.content .failure {
    color: darkred;
    background-color: pink;
    border: 2px darkred solid;
}


/* Inquiry Form */
.inquiry-form-container .checkboxRow  {
    padding: 18px 0;
}

.inquiry-form-container form input.checkbox {
    transform: scale(2);
    
}
@media (max-width: 900px) {
    span {
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }
}

@media (max-width: 600px) {
    span {
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
    }
}