/* <div className="LeftNavbar">
<h3 className="menu">Menu</h3>
<nav>
    <NavLink to="/student/profile">Profile</NavLink>
    <NavLink to="/student/courses">Course Selection</NavLink>
    <NavLink to="/">Logout</NavLink>
</nav>
</div> */

.LeftNavbar {
    /* background-color: var(--color-3-pale); */
    width: 100%;
    overflow: auto;
    padding: 32px 16px;
}

.LeftNavbar nav {
    width: 100%;
}

.LeftNavbar nav>* {
    display: block;
    color: var(--color-1-navy);
    font-size: large;
    padding: 16px;
    margin: 8px 32px;
    text-decoration: none;
}