@import '../input/Button.css';

.RightNavbar {
    /* background-color: aqua;    */
}


.btnGroup {
    /* height: 80px; */
    display: flex;
    flex-direction: column;
}

.btnGroup .btnrow {
    padding: 0;
    /* margin: 18px auto; */
    width: 65%;
    display: flex;
    flex-direction: column;
}


.btnGroup>*>* {
    margin: 12px auto;
    width: 100%;
    display: block;
    align-items: center;
}

.RightNavbar .btnGroup button {
    width: 100%;

}