@import '../../App.css';

.TopNavbar {
    background-color: var(--color-1-navy);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 36px 18px 36px;
    font-family: var(--font-roboto);
    font-size: x-large;
    color: var(--color-4-orange);
}


nav {
    text-align: center;
    float: right;
}

nav > *{
    /* border: 1px white solid; */
    font-size: medium;
    padding: 8px 16px;
    margin: 0 8px;
    border-radius: 4px;
    color: var(--color-3-pale);
}


nav > .active , nav > :hover {
    border-bottom: 3px var(--color-4-orange) solid;
}

@media only screen and (max-width: 768px) {

    .TopNavbar {
        flex-direction: column;
    }

    .TopNavbar nav,
    .TopNavbar div {
        padding: 16px 8px;
    }

    nav {
        display: flex;
        justify-content: space-around;
    }

    nav .navItem {
        padding: 8px;
    }




}