.ViewStudents .btn-group{
    padding: 28px 0;
    background-color: antiquewhite;
    width: 100%;
}

.ViewStudents .program-header {
    border: solid;
    margin: 18px;
    padding: 18px;
    background-color: var(--color-1-navy);
    color: white;
    font-family: var(--font-roboto);
}